<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SafetyProject</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.example.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchInspectorList</servlet-name>
    <servlet-class>com.example.fetchInspectorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchInspectorList</servlet-name>
    <url-pattern>/fetchInspectorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchInspectionServlet</servlet-name>
    <servlet-class>com.example.searchInspectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchInspectionServlet</servlet-name>
    <url-pattern>/searchInspectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchProblemCodes</servlet-name>
    <servlet-class>com.example.fetchProblemCodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchProblemCodes</servlet-name>
    <url-pattern>/fetchProblemCodes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadReportDashbrd</display-name>
    <servlet-name>loadReportDashbrd</servlet-name>
    <servlet-class>com.dcl.service.loadReportDashbrd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadReportDashbrd</servlet-name>
    <url-pattern>/loadReportDashbrd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>fork</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>xpoweredBy</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.dcl.service.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateInspChart</display-name>
    <servlet-name>updateInspChart</servlet-name>
    <servlet-class>com.dcl.service.updateInspChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateInspChart</servlet-name>
    <url-pattern>/updateInspChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateVulnrChart</display-name>
    <servlet-name>updateVulnrChart</servlet-name>
    <servlet-class>com.dcl.service.updateVulnrChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateVulnrChart</servlet-name>
    <url-pattern>/updateVulnrChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updVulnrChrt</display-name>
    <servlet-name>updVulnrChrt</servlet-name>
    <servlet-class>com.dcl.service.updVulnrChrt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updVulnrChrt</servlet-name>
    <url-pattern>/updVulnrChrt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadReportDashboardFromDB</display-name>
    <servlet-name>loadReportDashboardFromDB</servlet-name>
    <servlet-class>com.dcl.service.loadReportDashboardFromDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadReportDashboardFromDB</servlet-name>
    <url-pattern>/loadReportDashboardFromDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchVulnerabilityData</display-name>
    <servlet-name>fetchVulnerabilityData</servlet-name>
    <servlet-class>com.dcl.service.fetchVulnerabilityData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchVulnerabilityData</servlet-name>
    <url-pattern>/fetchVulnerabilityData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchImage</display-name>
    <servlet-name>fetchImage</servlet-name>
    <servlet-class>com.dcl.service.fetchImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchImage</servlet-name>
    <url-pattern>/fetchImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insrtThumb</display-name>
    <servlet-name>insrtThumb</servlet-name>
    <servlet-class>com.dcl.service.insrtThumb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insrtThumb</servlet-name>
    <url-pattern>/insrtThumb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>frmprtl</display-name>
    <servlet-name>frmprtl</servlet-name>
    <servlet-class>com.dcl.service.frmprtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>frmprtl</servlet-name>
    <url-pattern>/frmprtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchSummaryData</display-name>
    <servlet-name>fetchSummaryData</servlet-name>
    <servlet-class>com.dcl.service.fetchSummaryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchSummaryData</servlet-name>
    <url-pattern>/fetchSummaryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reportServlet</display-name>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>com.dcl.service.reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/reportServlet</url-pattern>
  </servlet-mapping>
</web-app>